.container {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  padding-top: 80px;
  min-height: 640px;
  display: flex;
  justify-content: right;
}
