.total {
  margin-bottom: 20px;
}
.amount {
  display: inline-block;
  margin-left: 4px;
  width: 18px;
  text-align: center;
  border: 1px solid #ff524b;
  border-radius: 50%;
  color: #ff524b;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}
